@model SpanTest.Models.NalogDBEntry

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <fieldset>
        <legend>NalogDBEntry</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.Name)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Passenger)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Passenger)
            @Html.ValidationMessageFor(model => model.Passenger)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Student)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Student)
            @Html.ValidationMessageFor(model => model.Student)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.StartingDay)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.StartingDay)
            @Html.ValidationMessageFor(model => model.StartingDay)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.EndingDay)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.EndingDay)
            @Html.ValidationMessageFor(model => model.EndingDay)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Vehicle)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Vehicle)
            @Html.ValidationMessageFor(model => model.Vehicle)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VehicleRegistration)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VehicleRegistration)
            @Html.ValidationMessageFor(model => model.VehicleRegistration)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.VehicleOwner)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.VehicleOwner)
            @Html.ValidationMessageFor(model => model.VehicleOwner)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Reason)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Reason)
            @Html.ValidationMessageFor(model => model.Reason)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.TravelRelation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.TravelRelation)
            @Html.ValidationMessageFor(model => model.TravelRelation)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.ProjectNumber)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.ProjectNumber)
            @Html.ValidationMessageFor(model => model.ProjectNumber)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Accommodation)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Accommodation)
            @Html.ValidationMessageFor(model => model.Accommodation)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AccommodationNights)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AccommodationNights)
            @Html.ValidationMessageFor(model => model.AccommodationNights)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AccommodationEntry)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AccommodationEntry)
            @Html.ValidationMessageFor(model => model.AccommodationEntry)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.AccommodationExit)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.AccommodationExit)
            @Html.ValidationMessageFor(model => model.AccommodationExit)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Comment)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Comment)
            @Html.ValidationMessageFor(model => model.Comment)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
